<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Crop Prediction AI</title>
  <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
</head>
<body>
  <header>
    <h1>Enter the NPK values from soil test to suggest the best crop</h1>
    <a id="link" href="/fertilizer">→ Need Fertilizer Recommendation Instead?</a>
  </header>

  <form id="cropForm">
    <div class="form-section">
      <div class="input-container">
        <label for="N"><h1>N</h1></label>
        <input type="number" id="N" name="N" required />
      </div>
      <div class="input-container">
        <label for="P"><h1>P</h1></label>
        <input type="number" id="P" name="P" required />
      </div>
      <div class="input-container">
        <label for="K"><h1>K</h1></label>
        <input type="number" id="K" name="K" required />
      </div>
      <div class="input-container">
        <label for="pH"><h1>pH</h1></label>
        <input type="number" id="pH" name="pH" step="0.01" required />
      </div>
    </div>

    <button type="submit" class="button">Submit</button>
  </form>

  <div id="result" class="result"></div>

  <div style="text-align:center;">
    <button id="nextSuggestion" class="button hidden">Suggest Another Crop</button>
  </div>

  <script>
    let currentSuggestionIndex = 0;
    let crops = [];
    const nextSuggestionButton = document.getElementById("nextSuggestion");

    document.getElementById("cropForm").addEventListener("submit", async function (event) {
      event.preventDefault();
      const resultDiv = document.getElementById("result");
      resultDiv.innerHTML = '<div class="loader"></div>';
      nextSuggestionButton.classList.add("hidden");

      const N = document.getElementById("N").value;
      const P = document.getElementById("P").value;
      const K = document.getElementById("K").value;
      const pH = document.getElementById("pH").value;

      if (navigator.geolocation) {
        try {
          const position = await new Promise((resolve, reject) => {
            navigator.geolocation.getCurrentPosition(resolve, reject);
          });

          const latitude = position.coords.latitude;
          const longitude = position.coords.longitude;

          const response = await fetch("/crop", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ N, P, K, pH, latitude, longitude, top_n: 5 }),
          });

          const data = await response.json();

          if (data.success && data.crops.length > 0) {
            crops = data.crops;
            currentSuggestionIndex = 0;
            displayRecommendation();
            nextSuggestionButton.classList.remove("hidden");
          } else {
            resultDiv.innerHTML = `<h2>Error predicting crop. Try again.</h2>`;
          }
        } catch (error) {
          console.error("Error:", error);
          resultDiv.innerHTML = '<h2>Error occurred. Please try again.</h2>';
        }
      } else {
        alert("Geolocation is not supported by your browser.");
      }
    });

    document.getElementById("nextSuggestion").addEventListener("click", function () {
      currentSuggestionIndex = (currentSuggestionIndex + 1) % crops.length;
      displayRecommendation();
    });

    function displayRecommendation() {
      const resultDiv = document.getElementById("result");
      const recommendation = crops[currentSuggestionIndex];
      resultDiv.innerHTML = `<h2>Recommended Crop: ${recommendation}</h2>`;
    }
  </script>
</body>
</html>