<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Crop Prediction AI</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
  </head>
  <body>
    <header>
      <h1>Enter the NPK values from soil test to suggest the best Fertilizer</h1>
      <a id="link" href="/crop">→ Need Crop Recommendation Instead?</a>
    </header>

    <form id="cropForm">
      <div class="form-section">
        <div class="input-container">
          <label for="N"><h1>N</h1></label>
          <input type="number" id="N" name="N" required />
        </div>
        <div class="input-container">
          <label for="P"><h1>P</h1></label>
          <input type="number" id="P" name="P" required />
        </div>
        <div class="input-container">
          <label for="K"><h1>K</h1></label>
          <input type="number" id="K" name="K" required />
        </div>
        <div class="input-container">
          <label for="moisture"><h1>Moisture</h1></label>
          <input type="number" id="moisture" name="moisture" required />
        </div>
        <div class="input-container">
          <label for="soil"><h1>Soil Type</h1></label>
          <select id="soil" name="soil" required></select>
        </div>
        <div class="input-container">
          <label for="crop"><h1>Crop Type</h1></label>
          <select id="crop" name="crop" required></select>
        </div>
      </div>

      <button type="submit" class="button">Submit</button>
    </form>

    <div id="result" class="result"></div>

    <div style="text-align:center;">
      <button id="nextSuggestion" class="button hidden">Suggest Another Fertilizer</button>
    </div>

    <script>
      let fertilizerSuggestionIndex = 0;
      let fertilizers = [];
      const nextSuggestionButton = document.getElementById("nextSuggestion");

      const crops = ['Maize', 'Sugarcane', 'Cotton', 'Tobacco', 'Paddy', 'Barley',
      'Wheat', 'Millets', 'Oil seeds', 'Pulses', 'Ground Nuts'];
      const soilTypes = ['Sandy', 'Loamy', 'Black', 'Red', 'Clayey'];

      const soilSelect = document.getElementById('soil');
      soilTypes.forEach(soil => {
        const option = document.createElement("option");
        option.value = soil;
        option.textContent = soil;
        soilSelect.appendChild(option);
      });

      const cropSelect = document.getElementById('crop');
      crops.forEach(crop => {
        const option = document.createElement("option");
        option.value = crop;
        option.textContent = crop;
        cropSelect.appendChild(option);
      });

      document.getElementById("cropForm").addEventListener("submit", async function (event) {
        event.preventDefault();
        const resultDiv = document.getElementById("result");
        resultDiv.innerHTML = '<div class="loader"></div>';
        nextSuggestionButton.classList.add("hidden");

        const N = document.getElementById("N").value;
        const P = document.getElementById("P").value;
        const K = document.getElementById("K").value;
        const moisture = document.getElementById('moisture').value;
        const soilType = document.getElementById("soil").value;
        const cropType = document.getElementById("crop").value;

        if (navigator.geolocation) {
          try {
            const position = await new Promise((resolve, reject) => {
              navigator.geolocation.getCurrentPosition(resolve, reject);
            });

            const latitude = position.coords.latitude;
            const longitude = position.coords.longitude;

            const response = await fetch("/fertilizer", {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({ N, P, K, moisture, soilType, cropType, latitude, longitude }),
            });

            const data = await response.json();

            if (data.success) {
              fertilizers = data.fertilizers;
              fertilizerSuggestionIndex = 0;
              displayRecommendation();
              nextSuggestionButton.classList.remove("hidden");
            } else {
              resultDiv.innerHTML = `<h2>Error predicting fertilizer. Try again.</h2>`;
            }
          } catch (error) {
            console.error("Error:", error);
            resultDiv.innerHTML = '<h2>Error occurred. Please try again.</h2>';
          }
        } else {
          alert("Geolocation is not supported by your browser.");
        }
      });

      document.getElementById("nextSuggestion").addEventListener("click", function () {
        fertilizerSuggestionIndex = (fertilizerSuggestionIndex + 1) % fertilizers.length;
        displayRecommendation();
      });

      function displayRecommendation() {
        const resultDiv = document.getElementById("result");
        const recommendation = fertilizers[fertilizerSuggestionIndex];
        resultDiv.innerHTML = `<h2>Recommended Fertilizer: ${recommendation}</h2>`;
      }
    </script>
  </body>
</html>